PORT=8787
LINE_CHANNEL_ACCESS_TOKEN=
LINE_CHANNEL_SECRET=
APPS_SCRIPT_API_URL=https://script.google.com/macros/s/AKfycbx1IG7yNqIH0V_ahVCFk3p7WxrZ-den-dKmjHPEEzqSO2JjQ3Ujj7N783VN4gAExk-c0A/exec
APPS_SCRIPT_API_TOKEN=oyster-line-sync-20260704
